*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  animation-fill-mode: forwards;
}

html {
  // this defines what 1rem is equal to (10px = 62.5% of the default 16px for most of the browsers)
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  backface-visibility: hidden;
}

body {
  box-sizing: border-box;
}
