body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
}
h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-align: center;
  cursor: default;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

p {
  text-align: center;
  cursor: default;
  margin-top: 2rem;
  color: #444;
}
