.project {
  border-radius: 1rem;
  background-color: $red;
  height: 82vh;

  @include respond(tab-port) {
    margin: 2rem;
    height: 100%;
  }

  &--header {
    padding: 3rem;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;

    &-recipify {
      background: linear-gradient(
          rgba(darken($dark-yellow, 40%), 0.9),
          rgba(darken($dark-yellow, 40%), 0.9)
        ),
        url('../../assets/recipify.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &-card-game {
      background: linear-gradient(
          rgba(darken($light-blue, 60%), 0.9),
          rgba(darken($light-blue, 60%), 0.9)
        ),
        url('../../assets/card_game.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &-cesme-palmiye {
      background: linear-gradient(
          rgba(darken($light-purple, 40%), 0.9),
          rgba(darken($light-purple, 40%), 0.9)
        ),
        url('../../assets/cesme_palmiye.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &-lotr-site {
      background: linear-gradient(
          rgba(darken($dark-yellow, 45%), 0.9),
          rgba(darken($dark-yellow, 45%), 0.9)
        ),
        url('../../assets/lotr_site.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &--title {
      color: $light-blue;
      text-align: center;
    }

    &--buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 2rem 3rem 2rem;
      &--button {
        background-color: $red;
        border: none;
        border-radius: 100%;
        padding: 0.4rem;
        cursor: pointer;
        transition: background-color 0.4s;
        box-shadow: 0 2px 6px 1px darken($red, 30%);

        ion-icon {
          color: $light-blue;
          transition: color 0.4s;
        }

        &:hover {
          background-color: lighten($red, 5%);
        }

        &:hover ion-icon {
          color: lighten($light-blue, 50%);
        }
      }
    }
  }

  &--description {
    padding: 2rem;
    line-height: 2;
    color: $light-blue;
    font-weight: 300;
    height: 35%;
    letter-spacing: 0.5px;
  }

  &--tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &--tag {
    background-color: $dark-yellow;
    color: $red;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 0.5rem;
  }
}
