.project {
  border-radius: 1rem;
  background-color: $red;
  height: 80vh;
  max-width: 22vw;

  @include respond(tab-port) {
    margin: 2rem;
    height: 100%;
    max-width: 100%;
  }

  &--header {
    padding: 3rem;
    height: 35%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    transition: all 0.6s;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      transition: inherit;
    }

    &:hover::before {
      transform: scale(1.2);
    }

    &-recipify {
      background: linear-gradient(
          rgba(darken($dark-yellow, 40%), 0.8),
          rgba(darken($dark-yellow, 40%), 0.8)
        ),
        url('../../assets/recipify.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &-card-game {
      background: linear-gradient(
          rgba(darken($light-blue, 60%), 0.8),
          rgba(darken($light-blue, 60%), 0.8)
        ),
        url('../../assets/card_game.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &-cesme-palmiye {
      background: linear-gradient(
          rgba(darken($light-purple, 40%), 0.8),
          rgba(darken($light-purple, 40%), 0.8)
        ),
        url('../../assets/cesme_palmiye.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &-lotr-site {
      background: linear-gradient(
          rgba(darken($dark-yellow, 45%), 0.8),
          rgba(darken($dark-yellow, 45%), 0.8)
        ),
        url('../../assets/lotr_site.jpg');
      background-position: center;
      background-size: cover;
      background-blend-mode: darken;
    }
    &--title {
      position: relative;
      color: $light-blue;
      text-align: center;
    }

    &--buttons {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 2rem 3rem 2rem;
      &--button {
        background-color: $red;
        border: none;
        border-radius: 100%;
        padding: 0.4rem;
        cursor: pointer;
        transition: all 0.4s;
        box-shadow: 0 2px 6px 1px darken($red, 30%);

        ion-icon {
          color: $light-blue;
          transition: color 0.4s;
        }

        &:hover {
          background-color: lighten($red, 5%);
          transform: scale(1.05);
        }

        &:hover ion-icon {
          color: lighten($light-blue, 50%);
        }

        &:active {
          box-shadow: 0 2px 2px 1px darken($red, 40%);
          transform: scale(0.97);
        }
      }
    }
  }

  &--description {
    padding: 2rem;
    line-height: 2;
    color: $light-blue;
    font-weight: 300;
    height: 35%;
    letter-spacing: 0.5px;
  }

  &--tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  &--tag {
    background-color: $dark-yellow;
    color: $red;
    border-radius: 0.5rem;
    padding: 0.4rem;
    margin: 0.5rem;
  }
}
